@font-face {
    font-family: TelefonicaBold;
    src: url(../fonts/TelefonicaBold.woff);
}

@font-face {
    font-family: TelefonicaRegular;
    src: url(../fonts/TelefonicaRegular.woff);
}

@font-face {
    font-family: TelefonicaLight;
    src: url(../fonts/TelefonicaLight.woff);
}

@font-face {
    font-family: TelefonicaExtraLight;
    src: url(../fonts/TelefonicaExtraLight.woff);
}

* {
    color: #0b2739;
    font-family: TelefonicaRegular, sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Estilos de Tener en cuenta portabilidad */
.section-portabilidad{
    padding: 30px 20px;
}

.intro, .intro-2, .portabilidad__container{
    margin: 0px auto;
    position: relative;
}

.intro{
    margin-bottom: 10px;
    text-align: center;
}

.portabilidad__title, .portabilidad__list-box-info{
    letter-spacing: normal;
    color: #0b2739 !important;
}

.portabilidad__title{
  font-size: 25px;
  line-height: 1.6 !important;
  text-align: center;
}

.portabilidad__subtitle{
    font-size: 18px;
    padding-top: 20px;
}

.portabilidad__list{
    width: 80%;
    margin: 0px auto;
    padding-top: 20px;
}

.portabilidad__list-box{
    display: flex;
    margin: 0px 5px 35px;
    align-items: center; 
}

.portabilidad__list-box-info{
    text-align: left;
    vertical-align: middle;
    margin: 0 0 0 13px;
    font-size: 14px;
    line-height: normal;
}

.terminos-box{
    width: 100%;
    margin: 4px auto 14px;
    align-items: center;
}

.terminos-box__container{
    margin: 0px 25px;
}

.terminos-box-check-text{
    text-align: left;
    font-size: 14px;
    margin: 5px;
}

.radio-item-terminos{
    display: flex;
    align-items: center; 
}

.radio_item{
    display: none !important;  
}

.label_item {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 100px;
    border: 1px solid #b6b7b7;
    background-color: transparent;
}

.radio_item:checked + label {
    border: none;
    background-image: url(../images/icon-check_smaller.svg);
    clear: both;
}

.texto-item{
    text-align: left;
    font-size: 14px;
    color: #0b2739 !important;
}

.texto-item > a{
    text-decoration: underline;
    color: inherit;
    font: inherit;
}

img.radio-button {
    width: 20px;
    height: 20px;
    margin: 18px 121px 0.5px 0;
    object-fit: contain;
    background-color: #019df4;
}

.btn-text{
    color: #50535a !important;
    font-size: 20px !important;
}

.texto-advertencia{
    margin: 5px 15px 10px;
    color: #e63780;
    font-size: 12px;  
}

.sitio-seguro {
    height: 45px;
    margin: 0px auto 0px;
    width: 90%;
    border-radius: 8px;
    background-color: #f7f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitio-seguro-icon{
    margin: 6px 13.4px 3px;
}

.sitio-seguro-text-inf{
  font-size: 19.2px;
}

/* Estilos De la seccion datos personales */

.plan-header{
    display: block;   
    margin: 0px auto;
}

.plan__container{
    max-width: 360px;
    height: 50px;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
}

.breadcrumb_porta{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.plan__container-box, .plan__container-box2{
    display: flex;
    padding: 10px 0px;
    font-size: 12px;
}

.plan__container-box{
    align-items: center;
    background-color: #0b2739;    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.plan__container-box2{
    background-color: #fff;
    border: solid 1px #d3d4d3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.plan__container-text, .text-left{
    color: #fff !important;
}

.plan__container-icon{
    margin: 0px 10px 0px 11px;
}

.plan__container-total{
    color: #313235 !important;
    margin: 0px 10px;
}

.text-left{
    margin-left: 20px;
}

.text-iva{
    font-weight: bold;
    font-size: 12px;
    color: #019df4 !important;
}

.text-precio{
    font-size: 14px;
    margin-left: 50px;
    font-weight: bold;
    color: #019df4 !important;
}

.breadcrumb_porta__circular_square{
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    object-fit: contain;
}

.breadcrumb_porta__circular_square img{
    vertical-align: middle;
}

.breadcrumb_porta__circular_square.active{
    background-color: #0b2739;
}

.breadcrumb_porta__circular_square.inactive{
    background-color: #d3d4d3;
}

.breadcrumb_porta__circular_square.done{
    background-color: #019df4;
}

.breadcrumb_porta__line {
    width: 40px !important;    
    height: 1px !important;
    margin: 0px 4px 0px !important;
    border: solid 0.5px #d3d4d3 !important;
}

.plan-body{
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.plan-body-img{
    margin: 0px 15px;
}

.plan-body-text{
    display: grid;
    justify-items: center;
    align-content: center;
}

.plan-body-title, .plan-body-subtitle, .label-newUI-porta{
    color: #0b2739 !important;
}

.plan-body-title{
    font-size: 24px;
    margin-bottom: 14px;
}

.plan-body-title-bold 
{
    font-family: TelefonicaBold;
}

.plan-body-subtitle{
    width: 189px;
    height: 40px; 
    font-size: 16px !important;
    text-align: center;
}

.plan-form{
    margin: 0px auto;
}

.label-newUI-porta{
    font-size: 14px !important;
    margin-left: 16px;
}

.plan-button{
    margin: 0px auto 48px;
    text-align: center;
}

.plan-button .btn{
   width: 30%;
}

.plan-form .col-md-8{
    width: 75%;
}

.form__message{
    color: #e63780 !important;
    font-size: 14px !important;
    display: block !important;
    text-align: center !important;
    margin-top: 20px !important;
}

 .date-form-group .form-control {
    border-radius: 0 !important;
}

 .date-form-group .form-control[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    background: url(../images/Centro_ex.svg) no-repeat;
    pointer-events: auto;
}


.btn {
    border-radius: 4px;
    text-decoration: none;
    text-transform: none;
    padding: 0.6em 0.5em;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
    border: none;
    margin: 0.5em;
    letter-spacing: 0.03em;
    min-width: 9.5em;
    cursor: pointer;
}

.btn-rounded {
    border-radius: 50px;
}

/* INPUTS*/
 .form-group {
    margin-bottom: 0.6em;
    position: relative;
  }
  
   table .form-group {
    margin-bottom: 0;
    position: relative;
  }
  
   label {
    margin-bottom: 0.1rem;
    color: #757575;
    font-size: .9em;
  }
  
   .custom-control-label {
    line-height: 1.5rem;
    font-weight: 500;
  }
  
  
   label.label-title {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  /* Dropdown Browsers FIX*/
  
   select.form-control::-ms-expand {
      display: none;
  }
   .hiddenElement{
    display: none;
  }

  
 .form-control.newUI {
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
    border-color: black;
    background-color: inherit;
    border-radius: inherit;
  }
  
   .form-control {
    display: block;
    width: 100%;
    padding: 0.8rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #50535a;
    color: #63666d;
    background-color: #e9eae8;
    border-color: transparent;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
   select.form-control:not([size]):not([multiple]) {
    height: 3.2em;
  }
  
   .form-control.with-icon{
    padding-left: 2.5em;
  }
  
   .form-group span.icon{
    position: absolute;
    left: .9em;
    top: 2em;
    height: 1.6em;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-size: 1em;
  }
  
   .form-group span.icon.no-label{
    top: .9em;
  }
  
   .form-group span.icon i{
    color: #50535a;
    color: #63666d;
    cursor: text !important;
  }
  
  input::-webkit-input-placeholder {
    color: #aaa !important;
    }
  
  input::-moz-placeholder {
    color: #aaa !important;
    }
  
  input:-moz-placeholder { /* Older versions of Firefox */
    color: #aaa !important;
    }
  
  input:-ms-input-placeholder {
    color: #aaa !important;
    }
  
   .form-control:focus {
    color: #86888c;
    border-color: #00a9e0;
  }
  
   .form-group .form-control:focus + span.icon i{
    color: #00a9e0;
  }
  
   .form-group.invalid .form-control{
    color: #e4377f;
    border-color: #e4377f;
    background-color: transparent;
  }
   .label-form-date
  {
      border-radius: 0.25rem 0.25rem 0 0;
      border: 1px solid transparent;
      border-color: transparent;  
  }
   .date-form-group .form-control
  {
      border-radius: 0 0 0.25rem 0.25rem ;
  }
   .form-group small.feedback-invalid{
    display: none;
  }
  
   .form-group.invalid small.feedback-invalid{
    display: block;
  }
  
   .form-group.invalid span.icon i{
    color: #e4377f;
  }
  
   .form-control:disabled,  .form-control[readonly] {
    filter: opacity(50%);
  }
  
   .form-control:disabled + span.icon ,  .form-control[readonly] + span.icon {
    filter: opacity(50%);
  }
  
   .custom-select.is-invalid,  .form-control.is-invalid,  .was-validated .custom-select:invalid,  .was-validated .form-control:invalid{
    border-color: #e4377f;
    background-color: white;
    color: #e4377f;
  }
  
  .custom-select.is-invalid + span.icon i , .form-control.is-invalid + span.icon i , .was-validated .custom-select:invalid + span.icon i , .was-validated .form-control:invalid + span.icon i {
    color: #e4377f;
  }
  
   .was-validated .form-control:invalid:focus,  .form-control.is-invalid:focus,  .was-validated .custom-select:invalid:focus,  .custom-select.is-invalid:focus {
    border-color: #e4377f;
    box-shadow: none;
    color: #50535a;
    color: #63666d;
  
  }
  
   .was-validated .form-control:invalid:focus + span.icon i,  .form-control.is-invalid:focus + span.icon i,  .was-validated .custom-select:invalid:focus + span.icon i,  .custom-select.is-invalid:focus + span.icon i{
    color: #e4377f;
  }
  
   .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #00a9e0;
    border: 1px solid #00a9e0;
  
  }
  
   .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #00a9e0;
    border: 1px solid #00a9e0;
  
  }
  
   .custom-control-label::before {
    background-color: transparent;
    border: 1px solid #b6b7b7;
  }
  
   .custom-control.custom-checkbox .custom-control-label{
    line-height: 1.7em;
    font-style: normal;
  }
  
   .payment-header-check .custom-control-label::after {
    position: absolute;
    top: 2em;
    left: 0.2em;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
   .payment-header-check .custom-control-label::before {
    position: absolute;
    border-radius: 0.15rem;
    top: 2em;
    left: 0.2em;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
  }
  
   .custom-checkbox .custom-control-label::before {
    border-radius: 50%;
  }
  
   .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #00a9e0;
      color: var(--movistar-gunmetal);
  }
  
  @media (min-width: 768px) {
     .payment-header-check .custom-control-label::after {
      position: absolute;
      top: 1.5em;
      left: 1.5em;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  
     .payment-header-check .custom-control-label::before {
      position: absolute;
      top: 1.5em;
      left: 1.5em;
      display: block;
      width: 1rem;
      height: 1rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dee2e6;
    }
    
  }
  
  /* FIN INPUTS */

/* .active {
    background-color: #019df4;
    color: #FFF;
} */

/* .form-control[type="date"] {
    padding: 0.8rem 0.75rem;
} */

@media (min-width: 474px) and (max-width: 991px) {
    .size-col {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%; 
    }
}

@media only screen and (min-width: 576px){
    
    .portabilidad__list{
        width: 70%;
    }
    
    .terminos-box{
        width: 80%;
    }
    
    .sitio-seguro{
        width: 100%;
    }
    
    .plan-button .btn{
        width: 100%;
    }
}

@media only screen and (min-width: 768px){
    
    .text-left{
        margin-left: 10px;
    }

    .text-precio{
        margin-left: 50px;
    }

    .portabilidad__subtitle{
        font-size: 20px;
    }

    .portabilidad__list{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        padding-top: 20px;
    }
    
    .terminos-box{
        width: 90%;
    }
    
    .terminos-box__container{
        margin: 0px 90px 0px;
    }

    .sitio-seguro{
        height: 67px;
        width: 90%;
    }

    .sitio-seguro-text{
        font-size: 20.2px;
    }

    .plan-button .btn{
        width: 30%;
    }
}

@media only screen and (min-width: 992px){
    
    .portabilidad__list{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        padding-top: 20px;
    }

    .portabilidad__list-box{
        margin: 0px 15px 36px;
    }
    
    .terminos-box{
        width: 75%;
    }

    .terminos-box__container{
        margin: 0px 90px 0px;
    }

    .label_item {
        width: 24px;
        min-width: 24px;
        height: 24px;
    }

    .radio-item-terminos{
        margin-left: 20px;
    }

    .radio_item:checked + label {
        border: none;
        background-image: url(../images/icon-check.svg);
        clear: both;
    }
    
    .texto-advertencia{
        margin-left: 35px;
        font-size: 14px; 
    }
    
    .sitio-seguro-icon{
        margin: 18px 13.4px 17px;
    }

    .img-sitio-seguro{
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-image: url(../images/celphone.svg);
        background-repeat: no-repeat;
        width: 28px;
        height: 32px;
    }

    .plan-header{
        margin: 0px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .plan__container{
        margin-bottom: 25px;     
    }
    
    .breadcrumb_porta{
        margin-bottom: 50px;
        margin-left: auto;
    }

    .plan-body_img{
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-repeat: no-repeat;
        width: 63.8px;
        height: 130px;
    }

    .plan-body-text{
        justify-items: left;
        align-content: left;
    }

    .plan-body-title{
        font-size: 30px;
    }

    .plan-body-subtitle{
        width: 435px;
        height: 25px; 
        font-size: 20px !important;
        text-align: left;
    }

    .text-precio{
        margin-left: 50px;
    }

    .breadcrumb_porta__circular_square{
        width: 48px;
        height: 48px;
        padding: 10px;
    }

    .breadcrumb_porta__circular_square img{
        width: 20px;
    }

    .breadcrumb_porta__line {
        width: 60px;
        height: 1px;
        margin: 18px 6px 15px;
        border: solid 0.5px #d3d4d3;
    }

    .sitio-seguro {
        border-radius: 12px;
    }

    .sitio-seguro-text-inf{
        font-size: 20.2px;
    }      

}

@media only screen and (min-width: 1200px){
    
    .portabilidad__list{
        width: 70%;
        min-width: 70%;
    }

    .terminos-box{
        width: 50%;
    }
    
}


/* ***********************************Sim Card Section*********************************************** */

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

input[type="radio"]:checked + label{
    color: #019df4 !important;
}

.display-none
{
    display: none;
}

.simcard-option-container 
{
    /* width: 374px; */
    width: 320px
}

.simcard-option-margin-bottom 
{
    margin-bottom: 331px;
}

.simcard-option
{
    
    outline: none;
    border-radius: 27.7px;
    font-family: TelefonicaRegular !important;
    font-size: .7rem;
    width: 48%;
    /* margin-bottom: 331px; */
}

.simcard-option-transparent 
{
    border: 1px solid #019df4 !important;
    background-color: transparent !important;
    color: #019df4;
}

.simcard-option-blue 
{
    background-color: #019df4 !important;
    color: white !important;
}

.simcard-form-title, .simcard-form2-checkbox1-title, .simcard-form2-checkbox2-title 
{
    font-size: 1.1rem !important;
    font-family: TelefonicaRegular !important;
    width: 280px !important;
}

.simcard-form-line-effect
{
    border-bottom: 1px solid #d3d4d3 !important;
    width: 300px;
}

.simcard-form-check-container 
{
    width: 210px !important;
}

.simcard-form-label 
{
    font-size: 1rem !important;
    font-family: TelefonicaRegular !important;
    color: #86888c !important;
}

.simcard-form-check-direction
{
    font-family: TelefonicaRegular !important;
    color: #50535a !important;
    font-size: 1rem !important;
    line-height: normal !important;
}

.simcard-form-date
{
    width: 320px !important;
}

.simcard-alert 
{
    width: 320px;
}

.simcard-alert-text 
{
    font-size: .8rem;
    color: #50535a !important;
}

.simcard-button-container 
{
    width: 290px;
}

.simcard-button
{
    border-radius: 37px;
    width: 290px !important;
}

.simcard-button-active 
{
    background-color: #019df4;
    color: white;
}

.simcard-button-inactive 
{
    background-color: #d3d4d3;
    color: #50535a;
}

.simcard-form2 
{
    font-size: 1rem !important;
    width: 320px !important;
}

.simcard-form2-information 
{
    width: 100% !important;
}

.simcard-form2-direction-container 
{
    width: 60% !important;
    border-right: 1px solid #d3d4d3 !important;
    
}

.simcard-form2-date-container 
{
    width: 40% !important;
    padding-left: 10px;
}

.simcard-form2-direction-text, .simcard-form2-date-text 
{
    font-size: .8rem !important;
    font-family: TelefonicaRegular !important;
    color: #50535a !important;
    width: 180px !important;
}

.simcard-form2-direction-title, .simcard-form2-date-title  
{
    font-size: 1rem !important;
    font-family: TelefonicaRegular !important;
    color: #0b2739 !important;
}

.simcard-form2-modify p
{
    font-size: .7rem !important;
    color: #019df4 !important;
}

.simcard-form2-modify img 
{
    width: 10px;
}

.simcard-form2-line 
{
    width: 300px !important;
    background-color: #d3d4d3 !important;
}

.simcard-form2-info
{
    width: 266px;
}

.simcard-form2-info-input 
{
    border: none;
    font-family: TelefonicaRegular;
    color: #0b2739;
    background-color: transparent !important;
    font-size: .8rem !important;
    outline: none !important;
}

.simcard-form2-info-inactive
{
    border-bottom: 1px solid #979797;
} 

.simcard-form2-info-active
{
    border-bottom: 1px solid #019df4;
} 

.simcard-form2-info-error
{
    border-bottom: 1px solid #e63780;
} 

.simcard-form2-info-img
{
    width: 14px;
}

.simcard-form2-info-img2
{
    width: 18px;
}

.simcard-form2-message-error 
{
    color: #e63780;
    font-size: .8rem !important;
    width: 250px;
    margin-top: 40px;
}

.simcard-form2-alert-message 
{
    font-size: .6rem !important;
}

.simcard-form2-button 
{
    width: 100%;
    border-radius: 37px;
}

@media screen and (min-width: 400px) {
    .simcard-option 
    {
        
        font-size: .9rem !important;
    }

    .simcard-form-date
    {
        width: 340px !important;
    }
}

@media screen and (min-width: 414px) {
    .simcard-option-container 
    {
        width: 360px;
    }


    .simcard-alert 
    {
        width: 362px;
    }
    
    .simcard-button-container 
    {
        width: 330px;
    }

    .simcard-button
    {
        border-radius: 37px;
        width: 320px !important;
    }

    .simcard-form2 
    {
        width: 360px !important;
    }

    .simcard-form2-date-container 
    {
        padding-left: 18px;
    }
    

    .simcard-form2-direction-title, .simcard-form2-date-title 
    {
        font-size: 1.1rem !important;
    }

    .simcard-form2-direction-text, .simcard-form2-date-text 
    {
        font-size: 1rem !important;
        width: 190px !important;
    }

    

    .simcard-form2-modify p 
    {
        font-size: .9rem !important;
    }

    .simcard-form2-modify img 
    {
        width: 14px;
    }

    .simcard-form2-alert-message 
    {
        font-size: .7rem !important;
        width: 360px;
    }
    
}

@media screen and (min-width: 1200px) {
    .simcard-option-container
    {
        width: 480px;
    }

    .simcard-option-margin-bottom 
    {
        margin-bottom: 218px;
    }
    
    .simcard-form 
    {
        width: 958px;
    }

    .simcard-form-title  
    {
        width: 100% !important;
    }

    .simcard-first-section 
    {
        width: 55%;
    }

    .simcard-second-section 
    {
        width: 45%;
    }

    .simcard-form-line-effect 
    {
        width: 100% !important;
    }

    .simcard-form-check-container 
    {
        width: 100% !important;
    }

    .simcard-form-check-direction
    {
        width: 200px;
    }

    .simcard-form-line-effect
    {
        
        border-bottom: 0 !important;
        width: 300px;
    }

    .simcard-form-line-effect-right
    {
        border-right: 1px solid #d3d4d3 !important;
    }

    .simcard-form2 
    {
        width: 480px !important; 
        position: relative !important;
        margin-bottom: 100px !important;
    }

    .simcard-form2-direction-container, .simcard-form2-date-container  
    {
        width: 50% !important;
    }

    .simcard-form2-direction-title, .simcard-form2-date-title 
    {
        font-size: 1.2rem !important;
    }

    .simcard-form2-direction-text, .simcard-form2-date-text 
    {
        font-size: 1rem !important;
    }

    .simcard-form2-direction-text 
    {
        width: 188px;
    }

    .simcard-form2-modify 
    {
        position: absolute !important;
        top: 0;
        padding-top: 70px;
    }
    
    .simcard-form2-line 
    {
        width: 800px !important;
        position: absolute;
        right: -200px;
        z-index: 80;
    }

    .simcard-form2-checkbox1-title 
    {
        margin-top: 35px;
    }

    .simcard-form2-info-container 
    {
        width: 630px;
        position: absolute;
        right: -100px;
    }

    .simcard-form2-button 
    {
        width: 360px;
    }

    .simcard-form2-message-error 
    {
        margin-top: 100px;
    }
}

/* ******************* /Sim Card Section ***************************** */








